<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Transactions</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
        <ion-list>
        <ion-item-sliding *ngFor="let list of orders">
            <div ion-item>
                    <img src="http://i-tugue.com/system/uploads/s{{ list.farmer_product.photo_url }}.jpg"  onError="this.src='http://i-tugue.com/system/uploads/sproduct.jpg';" style="width: 20px" style="float: left;margin-right: 5px;" />
                <h3>{{list.farmer_product.product_name}}</h3>
                <p>Price: P{{list.farmer_product.price_per_unit}} </p>
                <p>Quantity: {{list.quantity}} </p>
                <p>Stocks available: {{list.farmer_product.stocks_available}} </p>
                <p  *ngIf="list.order.mode_of_shipping===0;">For Shipping</p>
                <p  *ngIf="list.order.mode_of_shipping===1;">For Pick up</p>
                
                <div style="text-align: right;">

                Total: P{{list.quantity * list.farmer_product.price_per_unit}}

                </div>

            </div>

             <ion-item-options>
                <button danger (click)="open(list)" class="green"> View Product </button>
                <button danger (click)="dispatch(list.id)" class="blue"> Dispatch</button>
            </ion-item-options>
        </ion-item-sliding>
        <!-- <ion-item-sliding>
            <button ion-item>
                <h3></h3>
                <p></p>
            <ion-note item-right>Total: P{{gtotal}}</ion-note>
            </button>
        </ion-item-sliding> -->
    </ion-list>
</ion-content>