<ion-menu [content]="content">

  <ion-content>

        <ion-card-content class="mainfarmer">            
         <img src="http://i-tugue.com/system/uploads/user/{{ farmer.id }}.jpg"  onError="this.src='http://i-tugue.com/system/uploads/user.jpg';" />
            <h2>{{farmer.lastname}}, {{farmer.firstname}} {{farmer.middlename}}</h2>
            <h3>{{farmer.business_name}}</h3>
        </ion-card-content>
   
    <ion-list>
      <button menuClose ion-item *ngFor="let menuItem of appMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Help
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of helpMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>

    <ion-list>
      <ion-list-header>
        Account
      </ion-list-header>
      <button menuClose ion-item *ngFor="let menuItem of accountMenuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
      <button menuClose ion-item (click)="alertConfirm()">
        <ion-icon item-left  name="log-out"></ion-icon>
        Logout
      </button>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
