<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Farmers</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    
    <ion-list *ngIf="viewMode==='list'">

        <button ion-item *ngFor="let farmer of farmers" (click)="openBrokerDetail(farmer)">
            <ion-avatar item-left>
                <img src="http://localhost/riceup/assets/img/{{farmer.id}}.jpg"/>
            </ion-avatar>
            <h2>{{farmer.lastname}}, {{farmer.firstname}} {{farmer.middlename}}</h2>
            <p>{{farmer.email}}</p>
        </button>

    </ion-list>

<div *ngIf="viewMode==='map'" style="width:100%;height:100%;" id="map"></div>

</ion-content>

<ion-footer padding>
    <ion-segment [(ngModel)]="viewMode">
        <ion-segment-button value="list">
            <ion-icon name="list"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="map" (ionSelect)="showMap()">
            <ion-icon name="map"></ion-icon>
        </ion-segment-button>
    </ion-segment>
</ion-footer>

